.containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.parentCardsrow {
  width: 80%;
}
.cardsRow,
.coinsCardsRow {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.cardsRowHeader {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  color: var(--primary-color);
}

img {
  width: 60px;
  height: 60px;
}

.coinsImg {
  width: 70px;
  height: 70px;
}

span {
  font-size: 16px;
}

.cardsRowHeader > p {
  margin-bottom: 20px;
}

.cardsRow > div {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .cardsRowHeader > p {
    font-size: 18px;
  }

  .cardsRowDiv {
    margin-bottom: 10px;
  }

  .cardsRowDiv > p {
    font-size: 16px;
  }
  .cardsRowDiv > img {
    width: 46px;
    height: 46px;
  }

  .coinsImg {
    width: 46px;
    height: 46px;
  }

  .cardsRow,
  .cardsRowHeader {
    gap: 50px;
  }

  .coinsCardsRow {
    gap: 20px;
  }
}
